body, html {
  height: 100%;
  margin: 0;
}

.bg {

  background-image: url("https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg");


  height: 100%;


  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
